#main {
	display: flex;
	justify-content: space-between;
}

aside {
	display: block;
	width: 360px;
	background-color: rgb(21, 87, 153);
	color: rgba(255, 255, 255, 1.0);
	padding: 16px 32px 16px 32px;
}

aside h1 {
	font-size: 1em;
	font-family: "Roboto Slab", sans-serif;
	color: rgba(255, 255, 255, 0.7);
	padding: 0;
	margin: 0;
}

aside h2 {
	font-size: 1em;
	padding: 0 0 0 0;
	margin: 0 0 0.5em 0;
}

aside ul {
	list-style-type: none;
	padding: 0 0 0 1em;
	margin: 0 0 1em 0;
}

aside a:link, aside a:visited {
	text-decoration: none;
	color: rgba(255, 255, 255, 1.0);
}

aside a:hover, aside a:active {
	color: rgba(255, 255, 255, 0.7);
}

section {
	display: block;
	padding: 16px 32px 16px 32px;
}

section ul {
	list-style-type: none;
	padding: 0 0 0 1em;
	margin: 0 0 1em 0;
}

article {
	border-top: 1px solid;
}

article h2 {
	font-size: 1.2em;
	background-color: rgba(21, 87, 153, 0.2);
}
