body {
	margin: 0;
	padding: 0;
}

nav {
	display: block;
	width: 160px;
	color: rgba(255, 255, 255, 1.0);
	background-color: rgb(21, 87, 153);
	padding: 16px 0 16px 32px;
}

h1 {
	font-size: 1em;
	font-family: "Roboto Slab", sans-serif;
	color: rgba(255, 255, 255, 0.7);
	margin: 0;
}

nav ul {
	list-style-type: none;
	padding: 0 0 0 1em;
	margin: 0.5em 0 1em 0;
}

nav a:link, nav a:visited {
	text-decoration: none;
	color: rgba(255, 255, 255, 1.0);
}

nav a:hover, nav a:active {
	color: rgba(255, 255, 255, 0.7);
}
